.header {
  z-index: 9;
}
@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 0.7rem;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.444);
  }

  .linkLogo {
    display: inline-block;
  }

  .logo {
    width: 35px;
    height: 35px;
    margin: 0.4rem 0 0 0.7rem;
  }
}
@media screen and (min-width: 769px) {
  .header {
    position: fixed;
    top: 5%;
    left: 3rem;
  }
  .logo {
    width: 50px;
    height: 50px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1600px) {
  .header {
    left: 15%;
  }
}
