* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: contain;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  color: #c394ca;
  font-size: 14px;
}
@media screen and (min-width: 769px) {
  html {
    font-size: 16px;
  }
}
main {
  background: #360069;
  /* background: radial-gradient(circle, #3d0075 0%, #0a0058 100%); */
  background: linear-gradient(120deg, #58003b, #0a005838 10%), linear-gradient(373deg, #94005a99, #0a005838 15%),
    linear-gradient(160deg, #03009c91, #640175b8, #140065b5 75%),
    linear-gradient(50deg, #2f0034, #721b8ee3, #500075 80%);
  background-attachment: fixed;
}

section {
  padding: 100px 20px;
  height: auto;
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
}

article {
  height: 80%;
}
