.container {
  display: flex;
}
.name {
  background-image: linear-gradient(120deg, #3f52df75, #dfc23f6b, #dda301, #dfc23f6b, #3f52df75);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 40%;
  background-position: -100%;
  animation: animatedText 5s infinite;
  animation-direction: alternate;
}

.description {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 1.4;
  & a,
  & span {
    color: #dda301;
    font-weight: 800;
  }
}

.figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  border-radius: 50%;
  border: 4px solid #dda301;
}

@media screen and (max-width: 768px) {
  .containerImg {
    margin: 3rem 0;
  }
  .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .img {
    width: 150px;
    height: 150px;
  }
  .containerDescription {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .name {
    font-size: 2rem;
    margin: 1rem 0 0.5rem;
    letter-spacing: 1px;
    font-weight: 800;
  }

  .title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .description {
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.4;
    & a,
    & span {
      color: #dda301;
      font-weight: 800;
    }
  }
}

@media screen and (min-width: 769px) {
  .container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    margin-top: 6.5rem;
  }

  .name {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
  }

  .title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .img {
    width: 220px;
    height: 220px;
  }
}

@keyframes animatedText {
  to {
    background-position: 100%;
  }
}
